<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twilio App</title>
    <style>
      .images {
        text-align: center;
      }
      p {
        font-size: 26px;
      }
      code {
        font-size: 30px;
      }
    </Style>
  </head>
  <body>
    <h1>Nick's Twilio App</h1>
    <p>You should call the number <code>510 257 9081</code></p>
    <div class="images">
      <img src="http://38.media.tumblr.com/d67cfaaed87a73400b4ef285ca6fae1c/tumblr_mojxklUIEx1s67vyfo5_250.gif">
      <img src="http://38.media.tumblr.com/87c07f20b5d71423e332761b900ba603/tumblr_mojxklUIEx1s67vyfo6_250.gif">
    </div>
    <p>press 1 to hit</p>
    <p>press 3 to stay</p>
    <p>press 7 to quit</p>
    <p>The game does not simulate a deck of cards. A hit gives you a random number between 2 and 10. So blackjack strategy does not work here, this is purely a game of chance.</p>
  </body>
</html>
