<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twilio App</title>
    <style>
      body {
       background-color: black;
       color: #ccc;
      }
      p {
       font-size: 26px;
      }
      code {
      font-size: 30px;
      }
    </Style>
  </head>
  <body>
    <h1>Nick's Twilio App</h1>
    <p>You should call the number <code>510 257 9081</code></p>
    <p>press 1 to hit</p>
    <p>press 3 to stay</p>
    <p>press 7 to quit</p>
    <p>The game does not simulate a deck of cards. A hit gives you a random number between 2 and 10. So blackjack strategy does not work here, this is purely a game of chance.</p>
  </body>
</html>
